{% extends "page.html" %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block pre_primary %}
	
{% block primary_content_inner %}
	<h1>Avís</h1>
	<p>Per descarregar aquest recurs, és necessari la <a href="/ca/tokens">sol.licitud prèvia d'un token d'accés</a></p>
	<h1>Aviso</h1>
	<p>Para descagar este recurso, es necesaria la <a href="/es/tokens">solicitud previa de un token de acceso</a></p>
	<h1>Notice</h1>
	<p>To download this resource, you must <a href="/en/tokens">previous request of an access token</a></p>

{% endblock %}
	
{% endblock %}