{% ckan_extends %}

{% block user_info %}
      {% if c.is_myself %}
		<div class="loading-modal" id="loading-download"></div>
      <div class="info">
          <h2 class="module-heading">{{ _('User menu') }}</h2>
          <ul>
            <li>
               {{ _('Datasets Cataleg') }}
			   <ul>
			       <li>
				      {{ _('My Datasets') }} <a href="/data/cataleg.csv" target="_blank" class="label" data-format="csv" id="download-csv-catalogue">CSV</a>
				   </li>
				   <li>
				       {{ _('Datasets Tags') }} <a href="/data/{{h.lang()}}/tags.csv" target="_blank" class="label" data-format="csv" id="download-csv-catalogue">CSV</a>
				   </li>
			   </ul>
            </li>
			<li>
				{{ _('Manual Editor') }} <a href="/doc/doc/ManualEditorOpenDataBCN.pdf" target="_blank" class="label" data-format="pdf">PDF</a>
			</li>
            <li>
               {{ _('Consultes') }}
			   <ul>
					<li>
					   {{ _('Consultes Usuaris BackOffice') }} <a href="http://www.bcn.cat/cgi-bin/consultesIRIS?id=980" target="_blank" ><span class="dataset-private label label-inverse">IRIS</span></a>
					</li>
				    <li>
					  {{ _('Formulari Peticio Alta') }} <a href="http://www.bcn.cat/cgi-bin/consultesIRIS?id=980" target="_blank" ><span class="dataset-private label label-inverse">IRIS</span></a>
				    </li>
			   </ul>
            </li>
			<li>
               {{ _('Icona Dades Obertes') }} <a href="/doc/doc/logo_opendata.png" target="_blank" class="label" data-format="png">PNG</a>
            </li>
            <li>
               {{ _('Protocol Publicacio') }}
			   <ul>
					<li>
					   {{ _('Guia Publicacio') }} <a href="/doc/doc/GuiaPublicacioDatasetsAOpenDataBCN_v4.5.pdf" target="_blank" class="label" data-format="pdf">PDF</a>
					</li>
			   </ul>
            </li>
			<li>
               {{ _('Documentacio') }} 
			   <ul>
					<li>
					   {{ _('Presentacio Formacio F3') }} <a href="/doc/doc/OpenDataBCN–F3.pdf" target="_blank" class="label" data-format="pdf">PDF</a>
					</li>
			   </ul>
            </li>
          </ul>
      </div>
     {% endif %}

      <div class="info">
          <h2 class="module-heading">{{ _('User info') }}</h2>	  
        <dl>
        {% if user.name.startswith('http://') or user.name.startswith('https://') %}
            <dt>{{ _('Open ID') }}</dt>
            <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
          {% else %}
            <dt>{{ _('Username') }}</dt>
            <dd>{{ user.name }}</dd>
          {% endif %}
        </dl>
        {% if c.is_myself %}
          <dl>
            <dt>{{ _('Email') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd>{{ user.email }}</dd>
          </dl>
        {% endif %}
		
        <dl>
          <dt>{{ _('Member Since') }}</dt>
          <dd>{{ h.render_datetime(user.created) }}</dd>
        </dl>
        <dl>
          <dt>{{ _('State') }}</dt>
          <dd>{{ _(user.state) }}</dd>
        </dl>
        {% if c.is_myself %}
          <dl>
            <dt class="key">{{ _('API Key') }} <span class="label" title="{{ _('This means only you can see this') }}">{{ _('Private') }}</span></dt>
            <dd class="value"><code>{{ user.apikey }}</code></dd>
          </dl>
        {% endif %}
{% endblock %}