{% extends "page.html" %}

{% block breadcrumb_content %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active">{{ _('Tags') }}</li>
{% endblock %}

{% block primary_content %}
{% endblock %}

{% block secondary_content %}
{% endblock %}

{% block pre_primary %}
	<h1>{{ _('Tag List') }}</h1>
	
{% block primary_content_inner %}
	{% set tag_array = [] %}
    {% for t in tags %}
		{% set nameTag = t['name_tag'] %}
		{% set nameTagTranslated = _(nameTag) %}
		{% do tag_array.append([nameTagTranslated,t['total_tag'],nameTag]) %}
	{% endfor %}
  <ul class="tag-full-list">
    {% for z in tag_array | sort(0)%}
      <li><a href="{% url_for controller='package', action='search', tags=z[2] %}">{{ z[0] }} ({{ z[1] }})</a></li>
	{% endfor %}
  </ul>
{% endblock %}
	
{% endblock %}