{% set path = request.path %}

<!-- IRON_opendata2015_2016-12-02T13:12:22Z -->
<div id="brand" alias="opendata2015" brand="opendata2015_2016-12-02T13:12:22Z" class="v2015 v2015-ajuntament-f restyle lang-ca">
  <nav class="app panel js_launcher_panel">
    <div class="padding">
      <div class="wrapper ">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Vés a <a target="_blank" href="http://www.barcelona.cat/ca/" title="barcelona.cat">barcelona.cat</a>
              </h3>
              <p>El web de la ciutat de Barcelona</p>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://lameva.barcelona.cat" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>L’espai de les barcelonines i els barcelonins</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://meet.barcelona.cat/ca" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>L’espai dels que volen descobrir què és Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://ajuntament.barcelona.cat" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>L’espai de trobada amb la gestió de la ciutat</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/ca/" title="Bcn a les xarxes socials">
                  <span class="icon"></span>
                  <span class="text">Bcn a les xarxes socials</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">X</a>
    </div>
  </nav>
  <nav class="lang panel js_lang_panel">
    <div class="padding">
      <ul>
         
        <li><a href="/data/ca{{path}}" class="active"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">X</a>
    </div>
  </nav>
  <nav class="city panel js_city_panel">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Vés a <a href="http://ajuntament.barcelona.cat" data-ga="Menu drecera Ciutat" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a>
              </h3>
              <p>L’espai de trobada amb la gestió de la ciutat</p>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/organitzacio-municipal/" title="L’Organització">L’Organització</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/ca/accio-de-govern/" title="acció de govern">acció de govern</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/ca" title="Transparència">Transparència</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/informacio-administrativa/" title="Informació Administrativa">Informació Administrativa</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/tramits/" title="Tràmits">Tràmits</a></li>
              <li class="large x-large"><a target="_blank" href="http://ajuntament.barcelona.cat/canals-comunicacio-ciutadana/" title="Canals de comunicació ciutadana">Canals de comunicació ciutadana</a></li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Segueix-nos</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/ca/" title="Govern obert">
                  <span class="icon"></span>
                  <span class="text">Govern obert</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/ca" title="Seu electrònica">
                  <span class="icon"></span>
                  <span class="text">Seu electrònica</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">X</a>
    </div>
  </nav>
  <nav class="search panel js_search">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <form action="https://cercador.barcelona.cat/ca" class="js_search_form" method="GET">
              <input type="hidden" name="query" value="" class="js_search_param" />
              <input type="search" placeholder="Cerca a barcelona.cat" class="js_search_input"/>
              <input type="submit" value="CERCA" class="js_search_submit"/>
            </form>
          </div>
          <div class="right">
            <ul>
              <li class="none">
                <a href="#">
                  <span class="icon"></span>
                  <span class="text">El més cercat</span>
                </a>
              </li>
              <li class="none">
                <a target="_blank" href="https://cercador.barcelona.cat/ca" title="Cerca avançada">
                  <span class="icon"></span>
                  <span class="text">Cerca avançada</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">X</a>
    </div>
  </nav>
  <header class="navbar">
    <div class="wrapper legacy">
      <div class="content">
        <div class="logo">
          <h1>
            <a href="http://www.barcelona.cat/ca/" title="Barcelona">
              www.barcelona.cat
            </a>
          </h1>
        </div>
        <a target="_blank" href="http://ajuntament.barcelona.cat/" class="logo_shield js_shield">
          <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/llima-vermella.svg" alt="Ajuntament de Barcelona"/>
        </a>
        <div class="center">
          <div>
            <a href="#" class="js_lang_archor lang none" title="Canviar idioma">
              <span class="lang_text">Català</span>
              <span class="arrow"></span>
            </a>
            <a href="#" class="js_lang_archor_mobile lang lang_mobile" title="Canviar idioma">
              <span class="lang_text">Català</span>
            </a>
            <a href="#" class="js_search_icon search_icon none" title="Cerca a barcelona.cat">
               <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Cerca a barcelona.cat"/>
            </a>
            <a href="#" class="js_search_icon_mobile search_icon" title="Cerca a barcelona.cat">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Cerca a barcelona.cat"/>
            </a>
            <a href="#" class="js_app_launcher app_launcher" title="Menú drecera">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite.png" alt="Menú drecera"/>
            </a>
            <a href="#" class="js_app_launcher_mobile app_launcher_mobile" title="Menú drecera">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite_640.png" alt="Menú drecera"/>
            </a>
          </div>
        </div>
        <h2 class="right">
          <a target="_blank" title="ajuntament.barcelona.cat" href="#" class="js_city">
            ajuntament.barcelona.cat
            <span></span>
          </a>
        </h2>
      </div>
    </div>
  </header>
  <nav class="panel app city app_mobile js_launcher_panel_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Vés a <a target="_blank" data-ga="Menu drecera Ciutat" href="http://ajuntament.barcelona.cat" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a><br/> 
                L’espai de trobada amb la gestió de la ciutat
              </h3>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/organitzacio-municipal/" title="L’Organització">L’Organització</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/ca/accio-de-govern/" title="acció de govern">acció de govern</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/ca" title="Transparència">Transparència</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/informacio-administrativa/" title="Informació Administrativa">Informació Administrativa</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/tramits/" title="Tràmits">Tràmits</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/canals-comunicacio-ciutadana/" title="Canals de comunicació ciutadana">Canals de comunicació ciutadana</a></li>
            </ul>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/ca/" title="Govern obert">
                  <span class="icon"></span>
                  <span class="text">Govern obert</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/ca" title="Seu electrònica">
                  <span class="icon"></span>
                  <span class="text">Seu electrònica</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Segueix-nos</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Vés a <a target="_blank" href="http://www.barcelona.cat/ca/" title="barcelona.cat">barcelona.cat</a><br/> 
                El web de la ciutat de Barcelona
              </h3>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://lameva.barcelona.cat" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>L’espai de les barcelonines i els barcelonins</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://meet.barcelona.cat/ca" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>L’espai dels que volen descobrir què és Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu drecera" href="http://ajuntament.barcelona.cat" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>L’espai de trobada amb la gestió de la ciutat</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/ca/" title="Bcn a les xarxes socials">
                  <span class="icon"></span>
                  <span class="text">Bcn a les xarxes socials</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">Tanca</a>
    </div>
  </nav>
  <nav class="lang panel lang_mobile js_lang_panel_mobile">
    <div class="padding">
      <ul>
       
        <li><a href="/data/ca{{path}}" class="active"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">Tanca</a>
    </div>
  </nav>
  <nav class="search panel search_mobile js_search_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <form action="https://cercador.barcelona.cat/ca" class="js_search_form" method="GET">
            <input type="hidden" name="query" value="" class="js_search_param" />
            <input type="search" placeholder="Cerca a barcelona.cat" class="js_search_input"/>
            <input type="submit" value="CERCA" class="js_search_submit"/>
          </form>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Tanca">Tanca</a>
    </div>
  </nav>
</div>
