{% set path = request.path %}

<!-- IRON_opendata2015_2016-12-02T13:12:22Z -->
<div id="brand" alias="opendata2015" brand="opendata2015_2016-12-02T13:12:22Z" class="v2015 v2015-ajuntament-f restyle lang-en">
  <nav class="app panel js_launcher_panel">
    <div class="padding">
      <div class="wrapper ">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Go to <a target="_blank" href="http://www.barcelona.cat/en/" title="barcelona.cat">barcelona.cat</a>
              </h3>
              <p>The website of the city of Barcelona</p>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://lameva.barcelona.cat/en/" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>A space for Barcelonians</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://meet.barcelona.cat/en/" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>A space for everyone keen to discover Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://ajuntament.barcelona.cat/en/" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>A space for meeting the city’s management</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/en/apps/index/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/en/" title="Bcn on social networks">
                  <span class="icon"></span>
                  <span class="text">Bcn on social networks</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">X</a>
    </div>
  </nav>
  <nav class="lang panel js_lang_panel">
    <div class="padding">
      <ul>
         
        <li><a href="/data/ca{{path}}"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}" class="active"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">X</a>
    </div>
  </nav>
  <nav class="city panel js_city_panel">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Go to <a href="http://ajuntament.barcelona.cat/en/" data-ga="Shorcut City menu" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a>
              </h3>
              <p>A space for meeting the city’s management</p>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/en/municipal-organization/" title="The Organization">The Organization</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/strategy-goverment-action-plan/" title="Goverment action">Goverment action</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/es" title="Transparency">Transparency</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/administrative-information/" title="Administrative information">Administrative information</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/en/procedures/" title="Online procedures">Online procedures</a></li>
              <li class="large x-large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/public-communication-chanels/" title="Public communication channels">Public communication channels</a></li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/en/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Follow us</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/en/" title="Open government">
                  <span class="icon"></span>
                  <span class="text">Open government</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/en/" title="E-headquarters">
                  <span class="icon"></span>
                  <span class="text">E-headquarters</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">X</a>
    </div>
  </nav>
  <nav class="search panel js_search">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <form action="https://cercador.barcelona.cat/en" class="js_search_form" method="GET">
              <input type="hidden" name="query" value="" class="js_search_param" />
              <input type="search" placeholder="Search in barcelona.cat" class="js_search_input"/>
              <input type="submit" value="SEARCH" class="js_search_submit"/>
            </form>
          </div>
          <div class="right">
            <ul>
              <li class="none">
                <a href="#">
                  <span class="icon"></span>
                  <span class="text">Popular seraches</span>
                </a>
              </li>
              <li class="none">
                <a target="_blank" href="https://cercador.barcelona.cat/en" title="Advanced Search">
                  <span class="icon"></span>
                  <span class="text">Advanced Search</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">X</a>
    </div>
  </nav>
  <header class="navbar">
    <div class="wrapper legacy">
      <div class="content">
        <div class="logo">
          <h1>
            <a href="http://www.barcelona.cat/en/" title="Barcelona">
              www.barcelona.cat
            </a>
          </h1>
        </div>
        <a target="_blank" href="http://ajuntament.barcelona.cat/en/" class="logo_shield js_shield">
          <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/llima-vermella.svg" alt="Ajuntament de Barcelona"/>
        </a>
        <div class="center">
          <div>
            <a href="#" class="js_lang_archor lang none" title="Change language">
              <span class="lang_text">English</span>
              <span class="arrow"></span>
            </a>
            <a href="#" class="js_lang_archor_mobile lang lang_mobile" title="Change language">
              <span class="lang_text">English</span>
            </a>
            <a href="#" class="js_search_icon search_icon none" title="Search in barcelona.cat">
               <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Search in barcelona.cat"/>
            </a>
            <a href="#" class="js_search_icon_mobile search_icon" title="Search in barcelona.cat">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Search in barcelona.cat"/>
            </a>
            <a href="#" class="js_app_launcher app_launcher" title="Shorcut menu">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite.png" alt="Shorcut menu"/>
            </a>
            <a href="#" class="js_app_launcher_mobile app_launcher_mobile" title="Shorcut menu">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite_640.png" alt="Shorcut menu"/>
            </a>
          </div>
        </div>
        <h2 class="right">
          <a target="_blank" title="ajuntament.barcelona.cat" href="#" class="js_city">
            ajuntament.barcelona.cat
            <span></span>
          </a>
        </h2>
      </div>
    </div>
  </header>
  <nav class="panel app city app_mobile js_launcher_panel_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Go to <a target="_blank" data-ga="Shorcut City menu" href="http://ajuntament.barcelona.cat/en/" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a><br/> 
                A space for meeting the city’s management
              </h3>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/en/municipal-organization/" title="The Organization">The Organization</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/strategy-goverment-action-plan/" title="Goverment action">Goverment action</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/es" title="Transparency">Transparency</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/administrative-information/" title="Administrative information">Administrative information</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/en/procedures/" title="Online procedures">Online procedures</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/en/public-communication-chanels/" title="Public communication channels">Public communication channels</a></li>
            </ul>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/en/" title="Open government">
                  <span class="icon"></span>
                  <span class="text">Open government</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/en/" title="E-headquarters">
                  <span class="icon"></span>
                  <span class="text">E-headquarters</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/en/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Follow us</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Go to <a target="_blank" href="http://www.barcelona.cat/en/" title="barcelona.cat">barcelona.cat</a><br/> 
                The website of the city of Barcelona
              </h3>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://lameva.barcelona.cat/en/" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>A space for Barcelonians</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://meet.barcelona.cat/en/" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>A space for everyone keen to discover Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Shorcut menu" href="http://ajuntament.barcelona.cat/en/" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>A space for meeting the city’s management</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/en/apps/index/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/en/" title="Bcn on social networks">
                  <span class="icon"></span>
                  <span class="text">Bcn on social networks</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">Close</a>
    </div>
  </nav>
  <nav class="lang panel lang_mobile js_lang_panel_mobile">
    <div class="padding">
      <ul>
       
        <li><a href="/data/ca{{path}}"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}" class="active"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">Close</a>
    </div>
  </nav>
  <nav class="search panel search_mobile js_search_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <form action="https://cercador.barcelona.cat/en" class="js_search_form" method="GET">
            <input type="hidden" name="query" value="" class="js_search_param" />
            <input type="search" placeholder="Search in barcelona.cat" class="js_search_input"/>
            <input type="submit" value="SEARCH" class="js_search_submit"/>
          </form>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Close">Close</a>
    </div>
  </nav>
</div>
