{% set path = request.path %}

<!-- IRON_opendata2015_2016-12-02T13:12:22Z -->
<div id="brand" alias="opendata2015" brand="opendata2015_2016-12-02T13:12:22Z" class="v2015 v2015-ajuntament-f restyle lang-es">
  <nav class="app panel js_launcher_panel">
    <div class="padding">
      <div class="wrapper ">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Ve a <a target="_blank" href="http://www.barcelona.cat/es/" title="barcelona.cat">barcelona.cat</a>
              </h3>
              <p>El web de la ciudad de Barcelona</p>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://lameva.barcelona.cat/es/" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>El espacio de las barcelonesas y los barceloneses</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://meet.barcelona.cat/es/" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>El espacio de los que quieren descubrir qué es Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://ajuntament.barcelona.cat/es/" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>El espacio de encuentro con la gestión de la ciudad</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/esp/apps/index/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/es/" title="Bcn en las redes sociales">
                  <span class="icon"></span>
                  <span class="text">Bcn en las redes sociales</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">X</a>
    </div>
  </nav>
  <nav class="lang panel js_lang_panel">
    <div class="padding">
      <ul>
         
        <li><a href="/data/ca{{path}}"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}" class="active"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">X</a>
    </div>
  </nav>
  <nav class="city panel js_city_panel">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Ve a <a href="http://ajuntament.barcelona.cat/es/" data-ga="Menu atajo Ciudad" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a>
              </h3>
              <p>El espacio de encuentro con la gestión de la ciudad</p>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/es/organizacion-municipal/" title="La organización">La organización</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/accion-de-gobierno/" title="Acción de gobierno">Acción de gobierno</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/es" title="Transparencia">Transparencia</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/informacion-administrativa/" title="La información administrativa">La información administrativa</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/es/tramites/" title="El portal de trámites">El portal de trámites</a></li>
              <li class="large x-large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana/" title="Canales de comunicación ciudadana">Canales de comunicación ciudadana</a></li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/es/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Síguenos</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/es/" title="Gobierno abierto">
                  <span class="icon"></span>
                  <span class="text">Gobierno abierto</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/es/" title="Sede electrónica">
                  <span class="icon"></span>
                  <span class="text">Sede electrónica</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">X</a>
    </div>
  </nav>
  <nav class="search panel js_search">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <form action="https://cercador.barcelona.cat/es" class="js_search_form" method="GET">
              <input type="hidden" name="query" value="" class="js_search_param" />
              <input type="search" placeholder="Busca en barcelona.cat" class="js_search_input"/>
              <input type="submit" value="BUSCA" class="js_search_submit"/>
            </form>
          </div>
          <div class="right">
            <ul>
              <li class="none">
                <a href="#">
                  <span class="icon"></span>
                  <span class="text">Lo más buscado</span>
                </a>
              </li>
              <li class="none">
                <a target="_blank" href="https://cercador.barcelona.cat/es" title="Búsqueda avanzada">
                  <span class="icon"></span>
                  <span class="text">Búsqueda avanzada</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">X</a>
    </div>
  </nav>
  <header class="navbar">
    <div class="wrapper legacy">
      <div class="content">
        <div class="logo">
          <h1>
            <a href="http://www.barcelona.cat/es/" title="Barcelona">
              www.barcelona.cat
            </a>
          </h1>
        </div>
        <a target="_blank" href="http://ajuntament.barcelona.cat/es/" class="logo_shield js_shield">
          <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/llima-vermella.svg" alt="Ajuntament de Barcelona"/>
        </a>
        <div class="center">
          <div>
            <a href="#" class="js_lang_archor lang none" title="Cambiar idioma">
              <span class="lang_text">Castellano</span>
              <span class="arrow"></span>
            </a>
            <a href="#" class="js_lang_archor_mobile lang lang_mobile" title="Cambiar idioma">
              <span class="lang_text">Castellano</span>
            </a>
            <a href="#" class="js_search_icon search_icon none" title="Busca en barcelona.cat">
               <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Busca en barcelona.cat"/>
            </a>
            <a href="#" class="js_search_icon_mobile search_icon" title="Busca en barcelona.cat">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/search_icon_sprite.png" alt="Busca en barcelona.cat"/>
            </a>
            <a href="#" class="js_app_launcher app_launcher" title="Menú atajo">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite.png" alt="Menú atajo"/>
            </a>
            <a href="#" class="js_app_launcher_mobile app_launcher_mobile" title="Menú atajo">
              <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/app_launcher_sprite_640.png" alt="Menú atajo"/>
            </a>
          </div>
        </div>
        <h2 class="right">
          <a target="_blank" title="ajuntament.barcelona.cat" href="#" class="js_city">
            ajuntament.barcelona.cat
            <span></span>
          </a>
        </h2>
      </div>
    </div>
  </header>
  <nav class="panel app city app_mobile js_launcher_panel_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Ve a <a target="_blank" data-ga="Menu atajo Ciudad" href="http://ajuntament.barcelona.cat/es/" title="ajuntament.barcelona.cat">ajuntament.barcelona.cat</a><br/> 
                El espacio de encuentro con la gestión de la ciudad
              </h3>
            </div>
            <ul>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/es/organizacion-municipal/" title="La organización">La organización</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/accion-de-gobierno/" title="Acción de gobierno">Acción de gobierno</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/transparencia/es" title="Transparencia">Transparencia</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/informacion-administrativa/" title="La información administrativa">La información administrativa</a></li>
              <li><a target="_blank" href="http://ajuntament.barcelona.cat/es/tramites/" title="El portal de trámites">El portal de trámites</a></li>
              <li class="large"><a target="_blank" href="http://ajuntament.barcelona.cat/es/canales-comunicacion-ciudadana/" title="Canales de comunicación ciudadana">Canales de comunicación ciudadana</a></li>
            </ul>
            <ul class="buttons">
              <li class="govern button">
                <a target="_blank" href="http://governobert.bcn.cat/es/" title="Gobierno abierto">
                  <span class="icon"></span>
                  <span class="text">Gobierno abierto</span>
                </a>
              </li>
              <li class="seu button">
                <a target="_blank" href="http://ajuntament.barcelona.cat/seuelectronica/es/" title="Sede electrónica">
                  <span class="icon"></span>
                  <span class="text">Sede electrónica</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="right">
            <h2>
              <a data-ga="logo" target="_blank" href="http://ajuntament.barcelona.cat/es/" title="Ajuntament de BCN">
                <img src="http://www.barcelona.cat/assets/images/brand/banner/2015/ajuntament_de_BCN.jpg" alt="Ajuntament de BCN"/>
              </a>
            </h2>
            <div>
              <h3>Síguenos</h3>
              <ul>
                
                <li><a target="_blank" href="https://twitter.com/bcn_ajuntament/" title="twitter">twitter</a></li>
                <li><a target="_blank" href="https://www.youtube.com/user/bcnajuntament/" title="youtube">youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="left">
            <div>
              <h3>
                Ve a <a target="_blank" href="http://www.barcelona.cat/es/" title="barcelona.cat">barcelona.cat</a><br/> 
                El web de la ciudad de Barcelona
              </h3>
            </div>
          </div>
          <ul>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://lameva.barcelona.cat/es/" title="lameva.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>lameva.barcelona.cat</h3>
                  <p>El espacio de las barcelonesas y los barceloneses</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://meet.barcelona.cat/es/" title="meet.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>meet.barcelona.cat</h3>
                  <p>El espacio de los que quieren descubrir qué es Barcelona</p>
                </div>
              </a>
            </li>
            
            <li>
              <a target="_blank" data-ga="Menu atajo" href="http://ajuntament.barcelona.cat/es/" title="ajuntament.barcelona.cat">
                <span class="icon"></span>
                <div>
                  <h3>ajuntament.barcelona.cat</h3>
                  <p>El espacio de encuentro con la gestión de la ciudad</p>
                </div>
              </a>
            </li>
            
          </ul>
          <nav class="links">
            <ul>
              
              <li>
                <a target="_blank" href="http://apps4bcn.cat/esp/apps/index/" title="Apps4Bcn">
                  <span class="icon"></span>
                  <span class="text">Apps4Bcn</span>
                </a>
              </li>
              
              <li>
                <a target="_blank" href="http://ajuntament.barcelona.cat/xarxessocials/es/" title="Bcn en las redes sociales">
                  <span class="icon"></span>
                  <span class="text">Bcn en las redes sociales</span>
                </a>
              </li>
              
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">Cerrar</a>
    </div>
  </nav>
  <nav class="lang panel lang_mobile js_lang_panel_mobile">
    <div class="padding">
      <ul>
       
        <li><a href="/data/ca{{path}}"  lang="ca" title="Català">Català</a></li> 
        <li><a href="/data/es{{path}}" class="active"  lang="es" title="Castellano">Castellano</a></li> 
        <li><a href="/data/en{{path}}"  lang="en" title="English">English</a></li>
      </ul>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">Cerrar</a>
    </div>
  </nav>
  <nav class="search panel search_mobile js_search_mobile">
    <div class="padding">
      <div class="wrapper">
        <div class="content">
          <form action="https://cercador.barcelona.cat/es" class="js_search_form" method="GET">
            <input type="hidden" name="query" value="" class="js_search_param" />
            <input type="search" placeholder="Busca en barcelona.cat" class="js_search_input"/>
            <input type="submit" value="BUSCA" class="js_search_submit"/>
          </form>
        </div>
      </div>
    </div>
    <div class="padding-close">
      <a href="#" class="close js_close" title="Cerrar">Cerrar</a>
    </div>
  </nav>
</div>
