{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}" rel="dcat:distribution">
    {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dcat:mediaType" data-format="{{ res.format.lower() or 'data' }}" content="{{ h.get_mimetype(res) }}">{{ h.get_translated(res, 'format') }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
{% endblock %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="resource-actions-small">
    <ul>
      {% block resource_item_explore_links %}
        {% if can_edit %}
        <li>
          <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
            <i class="icon-edit"></i>
            {{ _('Edit') }}
          </a>
        </li>
        {% endif %}
        {% if res.url and h.is_url(res.url) %}
        <li>
          <a href="{{ res.url }}" target="_blank">
            {% if res.has_views %}
              <i class="icon-download"></i>
              {{ _('Download') }}
            {% elif res.format == 'WMS' or res.format == 'WMTS' %}
              <i class="icon-link"></i>
              {{ _('Link to URL') }}
            {% else %}
              <i class="icon-download"></i>
              {{ _('Go to resource') }}
            {% endif %}
          </a>
        </li>
        <li>
          <a href="{{ url }}">
            {% if res.has_views %}
              <i class="icon-bar-chart"></i>
              {{ _('Preview') }}
            {% else %}
              <i class="icon-info-sign"></i>
              {{ _('More information') }}
            {% endif %}
          </a>
        </li>
        {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
{% endblock %}
