{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create', {'owner_org': c.group_dict.id}) %}
    {% link_for _('Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
  
	<div class="actions resource-actions dataset-search-actions">
        <ul>
            <li>
              <a class="resource-url-analytics resource-type-None" href="/{{h.lang()}}/api-cataleg" title="{{ _('Open the informatio of catalog API') }}">
                  <i class="icon icon-code"></i> <span>{{ _('API Catalog') }}</span>
              </a>
            </li>
        </ul>
    </div>
  
{% endblock %}

{% block organization_facets %}
  <div class="filters filters-organization">
	{% for facet in c.facet_titles %}
		{{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
	{% endfor %}
  </div>
{% endblock %}